<div class="bg-transparent h-full w-full">
  <!-- Button 1 -->
  <app-navigate-button
    label="{{ button1() }}"
    route="{{ route1() }}"
    styleType="bg"
    (click)="closeSidebar()"
  ></app-navigate-button>

  <!-- Button 2 -->
  @if (showButton2()) {
  <app-navigate-button
    label="{{ button2() }}"
    route="{{ route2() }}"
    styleType="bg"
    (click)="closeSidebar()"
  ></app-navigate-button>
  }

  <!-- Button 3 -->
  @if (showButton3()) {
  <app-navigate-button
    label="{{ button3() }}"
    route="{{ route3() }}"
    styleType="bg"
    (click)="closeSidebar()"
  ></app-navigate-button>
  }

  <!-- Button 4 -->
  @if (showButton4()) {
  <app-navigate-button
    label="{{ button4() }}"
    route="{{ route4() }}"
    styleType="bg"
    (click)="closeSidebar()"
  ></app-navigate-button>
  }

  <!-- Button 5 (Patient Login or normal) -->
  @if(showButton5()) {
  <app-navigate-button
    label="{{ button5() }}"
    styleType="bg"
    (click)="closeSidebar()"
  ></app-navigate-button>
  }

  <!-- Button 6 (Pharmacy Login or normal) -->
  @if(showButton6()) {
  <app-navigate-button
    label="{{ button6() }}"
    styleType="bg"
    (click)="closeSidebar()"
  ></app-navigate-button>
  }

  <!-- Button 7 -->
  @if (showButton7()) {
  <app-navigate-button
    label="{{ button7() }}"
    route="{{ route7() }}"
    styleType="bg"
    (click)="closeSidebar()"
  ></app-navigate-button>
  }
</div>
