/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --breakpoint-lg: 1152px;
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}
